body {
    background: #1F3174;
}
header{
    display: block;
    margin: auto;
    width: 800px;
}
header img {
    display: block;
    margin: auto;
}
#main {
    display: block;
    position: relative;
    left: 14px;
    margin: auto;
    width: 554px;
    padding: 30px 0;
    background: #3B50A1;
}
#form_wrapper {
    width: 450px;
    margin: auto;
    padding: 20px 20px 6px 20px;
    background: #8CDB8D;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 9px 1px #1D2E6D;
    box-shadow: 0 0 9px 1px #1D2E6D;
}
/* -----GENERAL FORM STYLES----- */
.addInv {
    display: block;
    width: 450px;
    margin: auto;
}
.addInv p {
    padding: 0 10px;
}
.addInv label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #11224F;
    text-align: left;
    font-size: 16px;
}
.addInv input {
    display: block;
    margin: auto;
    padding: 8px;
}
.addInv #roomButtons {
    display: inline-block;
}
.addInv #roomButtons input {
    width: 55px !important;
}
/* -----ADD/UPDATE----- */
.addInv#add p {
    text-align: center;
}
.addInv#add label {
    display: inline-block;
    width: 400px;
	margin: 5px 20px;
}
.addInv#add label span {
    display: inline-block;
    float: right;
}
.addInv#add input {
    display: inline-block !important;
    width: 250px; 
}
.addInv#add #unitSize, .addInv#add #unit {
    #float: left !important;
}
.addInv#add #unitSize input, .addInv#add #unit input{
    width: 106px !important; 
    margin-left: 20px;
}
.addInv#add input[type="submit"] {
    margin-top: 15px;
}
.addInv#add .incQuant {
    width: 80px;
    margin-bottom: 10px;
}
/* -----SPLASH----- */
.addInv#splash label {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.addInv#splash input {
    width: 80%;
    font-size: 18px;
}
.addInv#splash #bottom_wrapper {
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 300px !important;
}
.addInv#splash input[type="submit"] {
    float: right;
    width: 100px;
}
    /* --Update/Add Switch-- */
.switch {
  position: relative;
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 112px;
  height: 40px;
  padding: 3px !important;
  background-color: white;
  border-radius: 30px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  text-transform: uppercase;
  background: #58BC58; /* Initial BG Color */
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white; /* Checked Text Color */
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.35s ease-out;
  -moz-transition: left 0.35s ease-out;
  -o-transition: left 0.35s ease-out;
  transition: left 0.35s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 80px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}
    /* ---Submit Button--- */
input.submitButton {
	width:100px;
	background: #4EAD4E;
	padding: 8px 14px 6px; 
	border:2px solid #8CDB8D; 
	cursor:pointer; 
	/*style the text*/
	font-size:1.5em;
	font-family:Oswald, sans-serif;
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px #0C3A0C;
	color: #fff;
	/*give the corners a small curve*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 0px #165416;
    -moz-box-shadow:    0px 0px 4px 0px #165416;
    box-shadow:         0px 0px 4px 0px #165416;
}
	input.submitButton:hover, input.submitButton:focus {
	color:#dfe7ea;
    -webkit-box-shadow: 0px 0px 2px 0px #165416;
    -moz-box-shadow:    0px 0px 2px 0px #165416;
    box-shadow:         0px 0px 2px 0px #165416;
}
/* -----FOOTER----- */
#barcode {
    display: block;
    position: relative;
    width: 554px;
    height: 30px;
    left: 14px;
    margin: auto;
    text-align: center;
    #opacity: .4;
    background: url('../gfx/barcode.gif');
}
footer {
    text-align: center;
}
#copy {
    display: inline-block;
    padding:2px 8px;
    position: relative;
    bottom: 9px;
    font-family: ‘Courier New’, Courier, monospace;
    background: white;
}
.clear {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    clear: both !important;
}
/* ----- Utility styles ----- */
.center {
    text-align: center !important;
}